* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Time New Romans", sans-serif;
    background-color: #EEE8AA;
}
.register {
    display: block;
    width: 50%;
    height: 100%;
    margin-left: 450px;
    margin-top: 70px;
}
.register .form {
    width: 50%;
}
.register .form h2 {
    color: #607d8b;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align:center;
}
.input-form {
    margin-bottom: 5px;
}
span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    letter-spacing: 1px;
}
 #username, #email, #password, #repassword, #btn_register {
    width: 60%;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #607d8b;
    margin-bottom:10px;
}

#btn_register {
    margin-left:60px;
    background: #ff4584;
    color: #fff;
    outline: none;
    margin-left: 80px;
    width: 30%;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}
#btn_register :hover {
    background: #3e196e;
}

p {
    margin-top: 30px;
    margin-left: 50px;
    color: #607d8b;
}

p a {
    color: #ff4584;
}

#RequiredFieldValidator1, #RequiredFieldValidator2, #RequiredFieldValidator3, #RequiredFieldValidator4 {
    margin-top: 10px;
}